div.token{
  font-size: 2px;
  color: #4CAF50;
}

div.bottons {
  background-color: #4CAF50;
  color: white;
}

h1.welcome {
    text-align: center;
    padding: 10px;
    color: white;
    height: 1200%;
  
  }
  input.welcome {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: block;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    border-radius: 2px;
  }
  
  .nav-bar {
    
    height: 60px;
    margin-bottom: 30px;
    font-family: monospace;
  }
  
  #chatApp {
    margin-left: 200px;

    border-radius: 3px;
    padding: 20px;
    transition: all 0.2s;
  }
  
  li {
    margin: 10px 0;
    font-family: monospace;
    font-size: 12pt;
    padding: 10px;
    border: solid;
    border-color: black;
    border-radius: 1px;
  }
  
 
  
  .xbutton {
    font-size: 10px;
    background-color: tomato;
    color: black;
    padding: 2px;
    border-radius: 1px;
  }
  
  .padding {
      padding: 1px 7px 2px;
    }
  
    
  .flex {
    display: flex;
    
  }
  
  .date{
    float: left;
    font-size: 12px;
  }
  
  /* nav bar */
  
  .space {
      flex-grow: 1;
    }
  
    .sidebar {
        width: 200px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
      }
       
      .sidebar a.active {
        background-color: #4CAF50;
        color: white;
      }
      
      .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
      }
      
      div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
      }
      
      @media screen and (max-width: 700px) {
        .sidebar {
          width: 100%;
          height: auto;
          position: relative;
        }
        .sidebar a {float: left;}
        div.content {margin-left: 0;}
      }
      
      @media screen and (max-width: 400px) {
        .sidebar a {
          text-align: center;
          float: none;
        }
      }
  
  /*  chat */
  
      body {

        margin: 0 auto;
        
        padding: 0 20px;
        height: auto;
  
      }
      
      
      
      .darker {
        border-color: #ccc;
      }
      
      .container::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
      }
      
      .container img.right {
        float: right;
        margin-left: 20px;
        margin-right:0;
      }


      .mains {
        margin-left: 165px;
    }

      .bg-secondary{
          margin-left: 165px;
          background-color: white;
      }

      .body{
        margin-left: 165px;
    }


      h6{
        overflow-wrap: break-word;
        word-break: break-all;
      }

      div.token{
        font-size: 2px;
        color: #4CAF50;
      }

      
      #messages {
        height: 200px;
        background: whitesmoke;
        overflow: auto;
      }
      #chat-room-frm {
        margin-top: 10px;
      }
  
  /* .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    }
    
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    }
    
  .sidenav a:hover {
    color: #f1f1f1;
    }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    /* font-size: 28px; Increased text to enable scrolling */
    /* padding: 0px 10px;
    }
    
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    } */
  
    /*  */