
body {
    background-color: rgb(43, 46, 51);
}



ul {
    list-style-type: none;
}

#workspace {
    margin: 10px;
    border-style: solid;
}
#channel {
    margin: 10px;
    border-style: solid;
}
#chat {
    margin: 10px;
    border-style: solid;
}
#workspace-container {
    font-family: Verdana, sans-serif;
    position: absolute;
}

.workspace-nav a {
    display: block;
    text-decoration: none;
    color: #e74c3c;
    text-transform: uppercase;
    position: relative;

}
.workspace-nav a:hover{
    text-decoration: none;
    font-weight: bold;
    background-color: grey;
}

#channel-container {
    font-family: Verdana, sans-serif;
    position: absolute;
}
.channel-nav a {
    text-decoration: none;
}
.channel-nav a:hover {
    text-decoration: none;
    font-weight: bold;
}
