
#signUpbox
{
    background-color:  rgb(40, 45, 51);
    display: inline-block;
    text-align:center;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 275px;
    width: 50%;
    height: 600px;
    box-shadow: 30px 30px 30px rgb(58, 54, 54);
}


h1
{
    padding-top: 60px;
    padding-bottom: 30px;
}

#log-btndiv
{

    display: inline-block;
}

.col-lg-9
{

    margin-left: 1%;
    padding-bottom: 20px;
    display: inline-block;
}